#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.projectsDiv {
  border: 1px solid black;
}

.skillsDiv {
  border: 1px solid black;
}

.aboutDiv {
  border: 1px solid black;
}

.navDiv {
  border: 1px solid black;
}

.contactDiv {
  border: 1px solid black;
}

ul {
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: row;
  list-style: none;
}
li {
  margin: auto;
}